# The path to the SQLite database files.
DATABASE_LOCATION="/src/data/database/"

# Google OAauth2 secrets
GOOGLE_OAUTH_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""

# Google Oauth2 scopes
GOOGLE_OAUTH_SCOPE="https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email"

# The Google Oauth2 host domain. Only accounts from this domain are allowed to login.
GOOGLE_OAUTH_HD="murraystate.edu"

# Default account setup. These two variables determine a specific user's default access level when they first create their account.
# Values should be a list of comma-separated emails. e.g. "email1@domain.com,email2@domain.com"
DEFAULT_ADVISORS=""
DEFAULT_OFFICERS=""

# OneSignal
ONESIGNAL_APP_ID="4f2a57fd-aca7-459c-b63d-9f90f5498cf6"
ONESIGNAL_API_KEY=""

#msu.acm userid for creating posts
INSTAGRAM_USER_ID=""
INSTAGRAM_PASSWORD=""